[Unit]
Description=django-q worker service for background tasks
After=network.target

[Service]
Type=simple
EnvironmentFile={{ project_dir }}/.env
User={{ appserver_user }}
Group={{ appserver_user }}
WorkingDirectory={{ project_dir }}
virtualenv={{ root_dir }}/venv
ExecStart={{ root_dir }}/venv/bin/python {{ project_dir }}/manage.py qcluster
Restart=always

[Install]
WantedBy=multi-user.target