@import "../styles/theme.less";

.auth-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #colors[black];
    margin: 2em 0em 1.5em 1.5em;
}

.auth-content {
    margin: 0em 3em 0em 2.5em;
}