@import "../styles/theme.less";

.cart-container {
  margin: 2em 2em 1.5em 2em;
}

.controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  .stock-left {
    color: red;
    position: absolute;
    left: 165px;
    font-size: 14px;
    top: 25%;
  }
}

.label {
  font-weight: 300;
  font-size: 14px;
}

.cost {
  font-weight: bold;
  font-size: 16px;
}

.item-container {
  margin-bottom: 20px;
  border-bottom: 1px solid#D4DBE3;
  padding-bottom: 12px;
}

.input-group {
  display: flex;
  width: 200px;
  .input-qty {
    height: 38px;
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #d4dbe3;
    text-align: center;
    width: 80px;
  }
  .left-btn-controls {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 38px;
  }
  .right-btn-controls {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 38px;
  }
}

.sub-totals,
.totals {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.totals {
  border-bottom: 1px solid #d4dbe3;
  padding-bottom: 21px;
}

.payment-container {
  background: #e5f1e8;
  margin-left: -28px;
  margin-right: -29px;
  padding: 26px;
}

.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ddece1;
  padding: 34px 23px;
  border-radius: 5px;
  .text-content {
    margin-top: 24px;
  }
}

.order-errors-container {
  background: #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  margin: 30px 0;
  font-size: 14px;
  .price-changed-container {
    margin-bottom: 10px;
    p {
      margin-bottom: 3px;
    }
  }
  .product-missing-container {
    color: #be090a;
    p {
      margin-bottom: 3px;
    }
  }
}

.item-container:last-child {
}

.ant-radio-button-wrapper:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ant-radio-button-wrapper:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  color: black !important;
  border-color: #d9d9d9 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #d9d9d9 !important;
}

.payment-modal {
  padding: 0px !important;
  background-color: #ffffff;

  .close-icon {
    margin-top: -10px;
    padding-right: 0px;
    position: absolute;
    right: 10px;
  }

  .stepper-wrapper {
    margin: 14px;
  }

  .title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #373f51;
  }

  .select-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }

  .payment-modal-radio {
    display: block;
    height: 50px;
    line-height: 30px;
  }
}

.generic-modal {
  padding: 0px;
  background-color: #ffffff;
  .stepper-wrapper {
    margin: 19px 10px 10px -8px;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .close-icon {
    margin-top: -10px;
    padding-right: 0px;
    position: absolute;
    right: 10px;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
  }
  .text {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
  }
  .action-btn {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #colors[primary];
    color: #colors[primary];
  }
  img.status-logo {
    margin: 20px 0;
  }
}




.generic-modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
.generic-modal-text {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}


.ReactModal__Overlay {
  z-index: 9999;
}


.momo-payment-modal-payment {
  z-index: 999999;
}


.my-payment-modal-hidden {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999; /* Sit on top */
  left: 0;
  top: 0;
  max-width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.my-payment-modal-show {
  display:flex; /* Hidden by default */
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 999999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.my-payment-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  height: 400px;
  border-radius: 20px;
}

.my-payment-modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.my-payment-modal-close-btn:hover,
.my-payment-modal-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}