@import "../styles/theme.less";

.change-pin-container {
    margin: 2em 2em 1.5em 2em;

    .go-back {
        margin: 0em 0em 1em -1.2em;
        color: #colors[primary];
        background: none;

        .text {
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
        } 
    }

    .info {
        background: #colors[lightPrimary];
        border-radius: 5px;
        
        .content {
            padding: 3em 1em 3em 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .icon {
                display:block;
                margin:auto;
            }

            .title {
                font-family: Mulish;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                width: 100%;
                color: #colors[black];
                padding: 2em 0em 1em 0em;
            }
        }
    }
}
