.footer {
    background: #373F51;
    padding: 1em;
    margin-top: auto;

    p {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
}