@import "../styles/theme.less";

.auth-header-wrapper {
    background-color: #colors[white];
    box-shadow: 0px 4px 10px rgba(48, 153, 75, 0.1);
    
    .auth-logo {
        padding: 20px 0px 20px 20px;
    }
}

.dashboard-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;

    .main-header {
        background-color: #colors[white];
        //padding: 20px 0px 15px 15px;

        .logo {
            padding: 10px 0px 10px 15px;
        }

        .drop-down-title {
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #colors[black];
            padding: 20px 0px 15px 15px;

            &:hover {
                background: none;
            }

            &:active {
                background: none;
            }
        }

        .shopping-cart {
            margin-left: 15px;
            padding-top: 15px;
            .cart-total-price {
                font-family: Mulish;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 150%;
                text-decoration-line: underline;
                color: #colors[primary];
                padding-left: 15px;
            }
        }
    }

    .info-wrapper {
        background: #colors[primary];
        .info-text {
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #colors[white];
            padding: 10px 0px 10px 15px;
        }
    }
}

.menu-item-list {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #colors[black];
}

.sync-button {
    color: #colors[primary];
    font-size: 20px !important;
    font-weight: bold;
}