@import "../styles/theme.less";

.order-container {
	margin: 14px;
	border-radius: 3px;
	border: 1px solid #d4dbe3;
	.align-text-right {
		text-align: right;
	}
	.upper-content,
	.lower-content {
		display: flex;
		justify-content: space-between;
	}
	.upper-content {
		margin-bottom: 32px;
	}
	.lower-content {
		margin-bottom: 15px;
	}
	span.label {
		display: block;
		margin-bottom: 10px;
		font-weight: bold !important;
		font-size: 12px;
	}
	span.text {
		font-size: 16px;
	}
	.action-btn {
		width: 100%;
		height: 50px;
		border: 1px solid #colors[primary];
		color: #colors[primary];
		border-radius: 3px;
	}
}

.go-back {
	margin: 0em 0em 1em 0.4em;
	color: #colors[primary];
	background: none;

	.text {
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 150%;
	}
}

.he-order-details {
	background: #f5faf6;
	border-radius: 5px;
	width: 90%;
	justify-content: center;
	margin: auto;
	margin-top: 10px;

	.ant-card-body {
		padding: 30px 10px 30px 10px;
	}

	.info {
		margin: 10px 0px;
	}

	.detail-info {
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: #colors[black];
		text-transform: capitalize;
	}

	.detail-title {
		color: #colors[black];
		font-family: Mulish;
		font-style: normal;
		font-weight: bolder;
		font-size: 12px;
		line-height: 150%;
		text-transform: uppercase;
	}

	.delivery-wrapper {
		margin: 20px 0px 20px 0px;
	}

	.payment-details {
		font-family: Mulish;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 150%;
		color: #30994b;
		padding-bottom: 20px;
	}
}

.qty-divider {
	margin-top: 4em;
}

.product-list-wrapper {
	width: 90%;
	margin: auto;

	.product-list-col {
		border-bottom: 1px solid #d4dbe3;
		padding-bottom: 20px;
		margin-top: 20px;
	}

	.product-name {
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 200%;
		color: #colors[black];
	}

	.product-price {
		font-family: Mulish;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 150%;
		color: #colors[black];
	}
}

.ant-select-dropdown {
	width: auto !important;
}

.che-order-filters {
	.filters-date-picker {
		height: 44px !important;
	}

	.ant-picker-input > input {
		font-size: 14px !important;
		border-radius: 3px;
	}

	input[type="text"] {
		background-color: white;
		height: 31px;
		font-size: 14px;
		border-radius: 3px;
	}

	.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
		.ant-select-selector {
		height: 46px !important;
		font-size: 14px;
	}

	.ant-select-selection-placeholder,
	.ant-select-selection-item {
		line-height: 45px !important;
		font-size: 14px;
	}

	.ant-select-single.ant-select-lg:not(.ant-select-customize-input):not(.ant-select-customize-input)
		.ant-select-selection-search-input {
		height: 45px !important;
		font-size: 14px;
	}
}
