@import "./theme.less";


.product-header-bar {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  .search-input {
    visibility: visible;
    background: #colors[white];
    border: 1px solid #D4DBE3;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    input {
        background: #colors[white];
        height: 45px;
    }
  }

  .search-input-hidden {
    visibility: hidden;
    // flex-grow: 1;
    // background: #colors[white];
    // border: 1px solid #D4DBE3;
    // box-sizing: border-box;
    // border-radius: 10px;
    // -webkit-transition: width 0.3s;
    // -moz-transition: width 0.3s;
    // -ms-transition: width 0.3s;
    // -o-transition: width 0.3s;
    // transition: width 0.3s;
    // input {
    //     background: #colors[white];
    //     height: 45px;
    // }
  }

  .credit-balance-wrapper {
    visibility: visible;
    background-color: #colors[primary];
    width: 100%;
    max-width: 300px;
    height: 55px;
    border-radius: 10px;
    padding: 7px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .top-wrapper {
      box-sizing: border-box;
      height: 60%;
      border-bottom: solid 1px #fff;
      padding-bottom: 2px;
      text-align: center;
    }
    .bottom-wrapper {
      box-sizing: border-box;
      height: 40%;
      text-align: center;
    }
  }
  .credit-balance-wrapper-hidden {
    visibility: hidden;
  }

  .search-button {
    width: 50px;
    height: 50px;
    visibility: visible;
  }

  .search-button-hidden {
    visibility: hidden;
  }
}