@import "../styles/theme.less";

.product-description::-webkit-scrollbar {
    width: 1px;
}

.product-description::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product-description::-webkit-scrollbar-thumb {
    background-color: #colors[primary];
    outline: 1px solid #colors[primary];
  }

.he-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    //padding: 5px;
}

.search-bar-wrapper-full {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
}

.search-bar-wrapper {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .search-input-wrapper {
        width: 100px;
    }
    .credit-button-wrapper {
        flex-grow: 1;
    }
}

.search-wrapper {
    // margin-left: 25px;
    // margin-right: 25px;
    // margin-bottom: 40px;
    .input {
        background: #colors[white];
        border: 1px solid #D4DBE3;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 8px !important;
        padding: 5px;
        input {
            background: #colors[white];
            height: 45px;
        }
    }
}

.category-wrapper {
    background: #colors[primary];
    padding: 10px 5px 10px 0px;
    margin-bottom: 15px;

    .category-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .cat-action-btn {
            background: none;
            border: none;
            color: #colors[white];
        }

        .category-list {
            display: flex;
            flex-direction: row;
            overflow-y: scroll;
            width: 75%;

            .cat-btn {
                background: none;
                border: none;
                color: #colors[white];
            }

            .active {
                background: #colors[white];
                border-radius: 5px;
                color: #E35D25;
            }
        }
    }
}

.product-item {
    // margin-left: 15px;
    // margin-right: 15px;
    // margin-bottom: 20px;
    // margin-left: 0.3em;
    // margin-right: 0.3em;
    margin-bottom: 20px;
    border-radius: 7px;
    // padding: 2px 1px 2px 1px;
    cursor: pointer;
    width: 11em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border: rgba(0,0,0,0.2) solid 1px;
    padding: 0.438rem;
    //border: #E35D25 solid 1px;
//     box-shadow: 2px 2px 12px 2px rgba(181,160,160,0.66);
// -webkit-box-shadow: 2px 2px 12px 2px rgba(181,160,160,0.66);
// -moz-box-shadow: 2px 2px 12px 2px rgba(181,160,160,0.66);

    .product-item-top-container {
        width: 100%;
    }

    .item-image {
        height: 10rem;
        position: relative;
        width: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-radius: 7px;
        // filter: drop-shadow(offset-x offset-y blur-radius color);
        //filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));;
        
        .item-image-img {
          // width: 100%;
          // min-height: 10rem;
          // object-fit: cover;
          // max-height: 100%;
          // overflow: hidden;
          // border-radius: 5px;
          position: absolute;
          top: 0;
          height: 10rem;
          width: 100%;
          object-fit: contain;
          object-position: top

        }
        
        .tooltip-btn {
            position: absolute;
            top: 1px;
            background: none;
            border: none;
            right: 10px;
        }
    }

    .item-info {
        // margin-top: -35px;
        padding-left: 6px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        .title {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            color: #colors[black];
            word-wrap: break-word;
            width: 100%;
            text-align: center;
        }
        .price {
            font-family: Mulish;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 150%;
            color: #colors[black];
            text-align: center;
            width: 100%;
        }
    }   
}

.product-button {
    display: flex;
    flex-direction: row;
    width: 100%;

    button {
        height: 42px;
    }

    .decrement {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .increment {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    input {
        //margin-top: -10px;
        height: 42px;
        border-radius: 0px;
        background: #colors[white];
        border: 1px solid #D4DBE3;
        text-align: center;
    }
}

.product-modal {
    background: #colors[white];

    .item-name {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 200%;
        color: #colors[black];
    }

    .item-price {
        font-family: Mulish;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 150%;
        color: #colors[black];
    }

    .icon-close {
        position: absolute;
        top: 6px;
        right: 6px;
        background: none;
        border: none;
    }
}

.payment-processing-bar-wrapper {
    background-color: #colors[yellow];
    height: auto;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -15px; 
    margin-bottom: 15px;
    .left-wrapper {
        flex-grow: 7;
        background-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        .top-wrapper {
            
        }
        .bottom-wrapper {
            
        }
        .payment-processing-label {
            color: #84868a;
            font-weight: bold;
            font-size: 12px;
        }
        .payment-processing-value {
            color: #84868a;
            font-size: 12px;
        }
    }
    .right-wrapper {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}