@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 480)";

#colors() {
    brown: #602812;
    white: #ffffff;
    orange: #FE7B00;
    black: #373F51;;
    grey: #F2F2F2;
    lightred: #FFE7C2;
    primary: #30994B;
    lightPrimary: #F5FAF6;
    lightblue: #dfeff0;
    yellow: #e8e5a2;
    
}